button {
  /* Styles here */
  background-color: #1901ff;
  color: white;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 60px;
  padding-left: 60px;
  border-style: hidden;
  font-size: 30px;

}
